<cruisecontrol xmlns:cb="urn:ccnet.config.builder">
    <!-- Customise as required -->
        <project name="SampleApp" >
        <webURL>http://localhost/ccnet/</webURL>
       
        <workingDirectory>C:\dev\nrakespike\WorkingDirectory</workingDirectory>
        <artifactDirectory>C:\dev\nrakespike\Artifacts</artifactDirectory>
       
        <sourcecontrol type="git">
            <repository>git://github.com/jcrisp/nRake.git</repository>
            <executable>C:\Program Files\Git\cmd\git.cmd</executable>
        </sourcecontrol>
        <tasks>
            <rake>
              <executable>C:\dev\nrakespike\WorkingDirectory\rake.bat</executable>
              <baseDirectory>C:\dev\nrakespike\WorkingDirectory</baseDirectory>
              <rakefile>Rakefile</rakefile>
              <targetList>
                <target>build:all</target>
              </targetList>
              <buildTimeoutSeconds>1200</buildTimeoutSeconds>
              <quiet>false</quiet>
              <silent>false</silent>
              <trace>true</trace>
            </rake>
        </tasks>


    </project>

</cruisecontrol>

