<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
		</sectionGroup>
	</configSections>

	<appSettings>
		<add key="version" value="#{version}" />
		<add key="dbserver" value="#{dbserver}" />
	</appSettings>

  <system.web>
		<customErrors mode="RemoteOnly" defaultRedirect="#{error_page_url}"/>
  </system.web>
</configuration>

